{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="columns is-multiline">
        {% for event in events %}
        <div class="column is-one-third">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="{{ event.banner_image.url }}" alt="{{ event.title }}">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">{{ event.title }}</p>
                        </div>
                    </div>
                    <div class="content">
                        {{ event.description }}
                    </div>
                </div>
                <footer class="card-footer">
                    <a href="{% url 'event_detail' event.pk %}" class="card-footer-item">View Details</a>
                </footer>
            </div>
        
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
